.card.card-registration.card-registration-2 {
    background-color: rgb(40, 54, 80) !important;



}

.text-muted,
.mb-0,
.p-5 {

    color: white !important;

}

/* .mb-0 {

    color: white !important;
} */